/* main */

.search-result {
    height: 360px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-result-title-block {
    margin-top: 36px;
}
.search-result-title {
    font-family: 'Ferry';
    width: 509px;
    margin-bottom: 36px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.04em;
}
.search-result-title-text {
    font-size: 20px;
    line-height: 24px;
    width: 447px;
}
.search-result-img {
    background-image: url(./img/search-result.png);
    width: 552px;
    height: 375px;
    margin-right: 43px;
}

.search-summary {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 17px;
}

.search-summary-text {
    font-size: 18px;
    line-height: 22px;
    color: #949494;
    margin-bottom: 27px;
}
.flex {
    width: 1260px;
    height: 158px;
    background: #FFFFFF;
    border: 2px solid #029491;
    border-radius: 10px;
    margin-bottom: 107px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.result-documents-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 58px;
}
.result-documents-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 206px;
}
.result-documents-card {
    width: 641px;
    height: 694px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 19px 30px 35px 30px;
}
.document-date {
    margin-top: 19px;
    display: inline-block;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #949494;
    margin-bottom: 14px;
}
.document-title-date {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #949494;
}
.card-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    width: 546px;
    margin-bottom: 14px;
}

.card-title-text {
    width: 157px;
    height: 22px;
    background: #FFB64F;
    border-radius: 5px;
    font-size: 12px;
    line-height: 15px;
    padding: 4px 11px 3px 14px;
    margin-bottom: 14px;
}

.card-doc-elem-first {
    width: 581px;
    height: 158px;
} 


.result-documents-title-text {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 15px;
}

.result-documents-title-text-two {
    margin-bottom: 32px;   
    color: #000000;
    opacity: 0.5;
}

.result-documents-button {
    display: inline-block;
    padding: 14px 30px 13px 33px;
    background: #7CE3E1;
    border-radius: 5px;
    margin-right: 244px;
}

.result-documents-world {
    display: inline-block;
    color: #949494;
}
